data append (1).json
{
  "name": "data append",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test form for Feedback ",
        "formDescription": "Getting feedback for product x from customer\n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email_id",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Name "
            },
            {
              "fieldLabel": "Age",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Positive"
                  },
                  {
                    "option": "Neutral"
                  },
                  {
                    "option": "Negative"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "9e3d0bfd-d093-4d02-aed7-a6178efbbcda",
      "name": "On form submission",
      "webhookId": "e15a7996-c863-403f-a377-029db0a5546e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bf3c9a0-04a0-4ea2-ae1b-c26148b9e0df",
              "leftValue": "={{ $json.Feedback }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        0
      ],
      "id": "7714f26c-a811-4f9e-968a-8ea84f97d07b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "627496aa-1537-40c5-9fd5-1158036c4a2d",
              "name": "give_discount",
              "value": "Yes",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "e18146dd-cf6c-4992-abf2-6ffa51ca316a",
      "name": "discount yes"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IXZSMUHFNraIzz5DX-8c6zJtq1pqPavv1oUdG2wwNrI",
          "mode": "list",
          "cachedResultName": "customer data ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IXZSMUHFNraIzz5DX-8c6zJtq1pqPavv1oUdG2wwNrI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IXZSMUHFNraIzz5DX-8c6zJtq1pqPavv1oUdG2wwNrI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_id": "={{ $json.Email_id }}",
            "Name ": "={{ $json['Name '] }}",
            "Age": "={{ $json.Age }}",
            "Feedback": "={{ $json.Feedback }}",
            "give_discount": "={{ $json.give_discount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email_id",
              "displayName": "Email_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "give_discount",
              "displayName": "give_discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        64
      ],
      "id": "39be8ad5-056c-419b-bbe7-b32faf149bb2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iPn8hSYH0tYlGr6E",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "627496aa-1537-40c5-9fd5-1158036c4a2d",
              "name": "give_discount",
              "value": "No",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        144
      ],
      "id": "5c6acd26-4fc9-4676-a663-17b5451e4fdb",
      "name": "discounty no"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "discount yes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "discounty no",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "discount yes": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "discounty no": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a019f577-8753-4c73-866b-388e0410ea65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf0d26598aa64014a76ed0c667fe544b0f7df56bc4e599c30cb1abc78397d99e"
  },
  "nodeGroups": [],
  "id": "izp3ApKBD8b7DT4L",
  "tags": []
}